In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.3.5
1.21.5

In [2]:
#Dataframe
n_rows=5
n_cols=5
cols=tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)

In [3]:
df

   A  B  C  D  E
0  1  2  7  9  9
1  3  9  4  6  3
2  7  8  4  5  5
3  5  3  6  5  9
4  9  1  1  1  7

In [4]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [7]:
##Add suffix
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        1        2        7        9        9
1        3        9        4        6        3
2        7        8        4        5        5
3        5        3        6        5        9
4        9        1        1        1        7

In [6]:
#Add prefix
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        1        2        7        9        9
1        3        9        4        6        3
2        7        8        4        5        5
3        5        3        6        5        9
4        9        1        1        1        7

In [8]:
#Dataframe
n_rows=10
n_cols=5
cols=tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,5,size=(n_rows,n_cols)),columns=cols)

In [9]:
df

   A  B  C  D  E
0  3  1  3  4  3
1  4  2  3  2  2
2  4  3  4  3  4
3  2  1  4  2  2
4  3  4  4  3  2
5  1  1  4  2  1
6  2  1  2  3  3
7  4  4  4  1  2
8  4  1  1  4  2
9  3  3  4  2  2

In [11]:
#Selection with logical operator OR '|'
df[(df['A']==1) | (df['A']==3)]

   A  B  C  D  E
0  3  1  3  4  3
4  3  4  4  3  2
5  1  1  4  2  1
9  3  3  4  2  2

In [12]:
#Selection with isin()
df[df['A'].isin([1,3])]

   A  B  C  D  E
0  3  1  3  4  3
4  3  4  4  3  2
5  1  1  4  2  1
9  3  3  4  2  2

In [13]:
#With negation
#Selection with isin()
df[~df['A'].isin([1,3])]

   A  B  C  D  E
1  4  2  3  2  2
2  4  3  4  3  4
3  2  1  4  2  2
6  2  1  2  3  3
7  4  4  4  1  2
8  4  1  1  4  2

In [16]:
#Conversion string to numeric in dataframe
data={'col1':['1','2','3','teks'],
      'col2':['1','2','3','4']}

df=pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [17]:
df.dtypes

col1    object
col2    object
dtype: object

In [20]:
#Conversion with astye() function

df_x=df.astype({'col2':'int'})

df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [22]:
df_x.dtypes

col1    object
col2     int64
dtype: object

In [23]:
#Conversion with to_numeric() function
df.apply(pd.to_numeric,errors='coerce')

#coerce is when conversion is failed so data will be NaN result in dataframes

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

In [4]:
#Dataframe
n_rows=5
n_cols=2
cols=['bil_pecahan','bil_bulat']

df=pd.DataFrame(np.random.randint(1,5,size=(n_rows,n_cols)),columns=cols)

df['bil_pecahan']=df['bil_pecahan'].astype('float')


df=df.reset_index()

df['teks']=list('ABCDE')

df

                index  bil_pecahan  bil_bulat teks
0 2000-01-01 00:00:00          4.0          4    A
1 2000-01-01 01:00:00          2.0          2    B
2 2000-01-01 02:00:00          1.0          2    C
3 2000-01-01 03:00:00          1.0          1    D
4 2000-01-01 04:00:00          2.0          3    E

In [5]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int64
teks                   object
dtype: object

In [6]:
#Choose colum with numeric data
df.select_dtypes(include='number')

   bil_pecahan  bil_bulat
0          4.0          4
1          2.0          2
2          1.0          2
3          1.0          1
4          2.0          3

In [7]:
df.select_dtypes(include='float')

   bil_pecahan
0          4.0
1          2.0
2          1.0
3          1.0
4          2.0

In [8]:
df.select_dtypes(include='int')

   bil_bulat
0          4
1          2
2          2
3          1
4          3

In [9]:
df.select_dtypes(include='object')

  teks
0    A
1    B
2    C
3    D
4    E

In [10]:
df.select_dtypes(include='datetime')

                index
0 2000-01-01 00:00:00
1 2000-01-01 01:00:00
2 2000-01-01 02:00:00
3 2000-01-01 03:00:00
4 2000-01-01 04:00:00

In [11]:
#Combination
df.select_dtypes(include=['number','object'])

   bil_pecahan  bil_bulat teks
0          4.0          4    A
1          2.0          2    B
2          1.0          2    C
3          1.0          1    D
4          2.0          3    E

In [12]:
#Dataframe
n_rows=5
n_cols=5
cols=tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)

df

   A  B  C  D  E
0  7  7  8  8  1
1  2  4  8  6  7
2  2  5  4  1  3
3  7  8  3  2  2
4  1  1  4  6  5

In [13]:
#Reverse column
df.loc[:,::-1]

   E  D  C  B  A
0  1  8  8  7  7
1  7  6  8  4  2
2  3  1  4  5  2
3  2  2  3  8  7
4  5  6  4  1  1

In [14]:
#Reverse row
df.loc[::-1]

   A  B  C  D  E
4  1  1  4  6  5
3  7  8  3  2  2
2  2  5  4  1  3
1  2  4  8  6  7
0  7  7  8  8  1

In [15]:
#Reverse row
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  1  1  4  6  5
1  7  8  3  2  2
2  2  5  4  1  3
3  2  4  8  6  7
4  7  7  8  8  1

In [16]:
#Dataframe
n_rows=5
n_cols=5
cols=tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)

df

   A  B  C  D  E
0  4  7  2  1  7
1  1  2  3  1  6
2  6  1  8  8  1
3  2  7  7  2  8
4  2  3  4  4  1

In [17]:
df.rename(columns={'C':'Hobi'})

   A  B  Hobi  D  E
0  4  7     2  1  7
1  1  2     3  1  6
2  6  1     8  8  1
3  2  7     7  2  8
4  2  3     4  4  1

In [18]:
df.rename(columns={'C':'Hobi','B':'Alamat'})

   A  Alamat  Hobi  D  E
0  4       7     2  1  7
1  1       2     3  1  6
2  6       1     8  8  1
3  2       7     7  2  8
4  2       3     4  4  1

In [19]:
df=pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  je4jdTAn0D -0.214599 -0.087725       NaN  0.804643
1  09fyCC76S5 -1.742097 -0.630863  0.279553  0.765771
2  Z0ZRWX7gRB -1.985538 -1.652494  0.776924  2.188726
3  1RKT9VGVHk -1.515911  1.531507  0.312777 -0.327699
4  GKzsoh8Ku8 -0.446126  2.081720 -0.318092  0.058396

In [21]:
df.rename(columns={'index':'Z'})
df.head()

        index         A         B         C         D
0  je4jdTAn0D -0.214599 -0.087725       NaN  0.804643
1  09fyCC76S5 -1.742097 -0.630863  0.279553  0.765771
2  Z0ZRWX7gRB -1.985538 -1.652494  0.776924  2.188726
3  1RKT9VGVHk -1.515911  1.531507  0.312777 -0.327699
4  GKzsoh8Ku8 -0.446126  2.081720 -0.318092  0.058396

In [22]:
df_backup=df.copy(deep=True)

In [24]:
df=df.dropna(axis='columns')
df.head()

        index
0  je4jdTAn0D
1  09fyCC76S5
2  Z0ZRWX7gRB
3  1RKT9VGVHk
4  GKzsoh8Ku8

In [25]:
df=df_backup.copy(deep=True)

In [26]:
df=df.dropna(axis='rows')
df.head()

        index         A         B         C         D
1  09fyCC76S5 -1.742097 -0.630863  0.279553  0.765771
2  Z0ZRWX7gRB -1.985538 -1.652494  0.776924  2.188726
3  1RKT9VGVHk -1.515911  1.531507  0.312777 -0.327699
4  GKzsoh8Ku8 -0.446126  2.081720 -0.318092  0.058396
5  pTXJuLMXyj -0.138539 -0.460278  1.015778 -0.315001

In [27]:
df=df_backup.copy(deep=True)
df.isna().mean()

index    0.000000
A        0.100000
B        0.166667
C        0.100000
D        0.033333
dtype: float64

In [28]:
threshold=len(df)*0.9

df=df.dropna(thresh=threshold,axis='columns')
df.head()

        index         A         C         D
0  je4jdTAn0D -0.214599       NaN  0.804643
1  09fyCC76S5 -1.742097  0.279553  0.765771
2  Z0ZRWX7gRB -1.985538  0.776924  2.188726
3  1RKT9VGVHk -1.515911  0.312777 -0.327699
4  GKzsoh8Ku8 -0.446126 -0.318092  0.058396

In [29]:
df['A']

0    -0.214599
1    -1.742097
2    -1.985538
3    -1.515911
4    -0.446126
5    -0.138539
6    -0.004915
7    -0.420261
8    -0.206765
9     2.140008
10   -0.121110
11   -1.037262
12   -0.293726
13   -0.543230
14    0.395413
15   -2.200147
16   -0.421402
17   -0.137119
18    0.676058
19    1.404294
20         NaN
21    0.922710
22         NaN
23    1.295243
24   -1.078956
25         NaN
26   -0.154724
27    0.871602
28   -1.844865
29    0.769775
Name: A, dtype: float64

In [30]:
type(df['A'])

pandas.core.series.Series

In [31]:
type(df)

pandas.core.frame.DataFrame

In [33]:
#Checking columns series
df['A']==df['C']

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
dtype: bool

In [34]:
df['A'].equals(df['A'])

True

In [35]:
#Dataframe
n_rows=10
n_cols=5
cols=tuple('ABCDE')

df=pd.DataFrame(np.random.randint(1,20,size=(n_rows,n_cols)),columns=cols)

df

    A   B   C   D   E
0  15  19  14   3  12
1   6   6  14  14   8
2  16   1  13  18   3
3  10  13  14  12  11
4  10  16  12  13  19
5   5   9  19  15  14
6   5  10  19   9   4
7   7  13   1  16  18
8   5   5   6  12   7
9  10   7   6  10   5

In [36]:
df.shape

(10, 5)

In [38]:
proportion=0.7

df_1=df.sample(frac=proportion)
df_2=df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_2 shape: {df_2.shape}')

df_1 shape: (7, 5)
df_2 shape: (3, 5)

In [39]:
df_1

    A   B   C   D   E
6   5  10  19   9   4
7   7  13   1  16  18
5   5   9  19  15  14
0  15  19  14   3  12
3  10  13  14  12  11
9  10   7   6  10   5
8   5   5   6  12   7

In [40]:
df_2

    A   B   C   D   E
1   6   6  14  14   8
2  16   1  13  18   3
4  10  16  12  13  19